[Desktop Entry]
Name=Files
Name[en_GB]=Files
Comment=Access and organize files
Comment[en_GB]=Access and organise files
Keywords=folder;manager;explore;disk;filesystem;
Keywords[en_GB]=folder;manager;explore;disk;filesystem;
Exec=nautilus --new-window %U
Icon=/home/elizabeth/Pictures/Nautilus_icon.png
Terminal=false
Type=Application
DBusActivatable=true
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.1
X-GNOME-UsesNotifications=true
X-XFCE-Source=file:///usr/share/applications/org.gnome.Nautilus.desktop
Path=
