[Desktop Entry]
Name=Thunar File Manager
Name[en_GB]=ssh://elizabeth@192.168.0.2
Comment=Browse the filesystem with the file manager
Comment[en_GB]=Link to host
GenericName=File Manager
GenericName[en_GB]=File Manager
Exec=thunar %F ssh://elizabeth@192.168.0.2
Icon=preferences-system-sharing
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
Path=
