[Desktop Entry]
Version=1.0
Type=Application
Name=Feliz Build
Comment=Open the Build folder to compile iso
Exec=gksu thunar /home/elizabeth/Build
Icon=/home/elizabeth/Artwork/splash.png
Path=
Terminal=false
StartupNotify=true
